<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="34">
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".setup.Estoque"
            android:label="POS Admin - Estoque" >

        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".financeiro.Fechamento"
            android:label="Histórico de Fechamento" >

        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".financeiro.ContasPagar"
            android:label="Contas a Pagar" >

        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".financeiro.Boletos"
            android:label="Boletos a Pagar" >

        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".financeiro.baixas.baixaBoletos"
            android:label="Histórico de Boletos - Baixa" >

        </activity>
        <activity
            android:theme="@style/dialog"
            android:name=".financeiro.view.boletoViewImageSource"
            android:label="" >

        </activity>
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".MainActivity"
            android:exported="true"
            android:label="POS Admin - Produtos" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>